

			
                <router-outlet></router-outlet>
            
       
        <!-- <div style="text-align:center">
            <br> Tipo:
            <input #tipo>
            <br> Nota:
            <input #nota>
            <br>
            <button (click)="addTshirt(tipo.value, nota.value)">Add some shirts</button>
            <br>
            <div style="text-align:center;display:unset;">
                List of Notas:
                <ul>
                    <li *ngFor="let nota of notasp | async">
                        Tipo: {{ nota.tipo }} nota: {{ nota.nota }}
                    </li>
                </ul>
            </div>
          </div> -->

