.container-card-startup{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.card-startup{
    background-color: #f7f6f6;   
    display: flex;
    flex-direction: column;
    align-items: center;
}

